.app-info__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;

  @media (min-width: 1465px) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.app-info__pictures {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 100%;

  @media (min-width: 1465px) {
    width: 30%;
    flex-direction: column;
  }
}

.app-info__image {
  object-fit: cover;
  position: relative;
  border-radius: calc($border-radius - 7px);
}

.app-info__picture-div-1,
.app-info__picture-div-2 {
  width: 100%;
  height: 350px;
  position: relative;
  overflow: "hidden";
  border-radius: $border-radius;
  border: 5px solid $color-jet;

  @media (min-width: 1050px) {
    width: 75%;
    height: 450px;
  }

  @media (min-width: 1465px) {
    width: 100%;
  }
}

.app-info__picture-div-2 {
  display: none;

  @media (min-width: 1050px) {
    display: block;
    width: 35%;
  }

  @media (min-width: 1465px) {
    width: 100%;
  }
}

.app-info__content {
  width: 100%;
  min-height: 950px;
  border-radius: $border-radius;
  padding: 1rem;
  color: $color-onyx;

  @media (min-width: 1050px) {
    padding: 2rem;
  }

  @media (min-width: 1465px) {
    width: 70%;
  }
}

.app-info__header {
  text-align: center;
  font-family: $font-headers;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1em;

  .logo a{
    font-size: 2rem;
  }

  @media (min-width: 1050px) {
    font-size: $h-size;

    .logo a{
      font-size: $h-size;
    }
  }
}

.app-info__description{
  font-family: $font-main;
  font-size: 1.1rem;
  line-height: 1em;
  padding-top: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 15px;
}