.list {
  padding-block: 12px;
  padding-inline: 12px 0;
  overflow-y: auto;
}
.list--operations{
  padding: 0;
}

.list__add-item {
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.list__add-item_input {
  align-self: stretch;
}
.list__add-item_button {
  font-size: 30px;
  cursor: pointer;
}

.list__container {
  max-height: 300px;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list__item {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;

  font-size: 1.1rem;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  svg {
    font-size: 22px;
  }
}
.list__item_content{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 7px;
  align-items: center;
  overflow-x: auto;
}
.list__item_content--done{
  text-decoration: line-through;
}

.list__item_trash-icon{
  padding-inline: 12px;
  color: $color-red;
}

.list__clear-button{
  margin-top: 20px;
  margin-left: auto;
}

