.list {
  padding-block: 12px;
  padding-inline: 12px 0;
  overflow-y: auto;
}
.list--operations{
  background-color: var(--color-accent);
}

.list__add-item {
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
// .add-item__input {
// }
.add-item__button {
  font-size: 30px;
  cursor: pointer;
}

.list__container {
  max-height: 300px;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list__item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;

  font-size: 1.1rem;
  align-items: center;
  justify-content: flex-start;

  &:hover {
    cursor: pointer;
  }

  svg {
    font-size: 22px;
  }
}

.list__item_icons{
  display: flex;
}

.list__item_trash-icon,.list__item_pen-icon{
  padding-inline: 12px;
}

.list__item_pen-icon{
  color: $color-black;
}
.list__item_trash-icon{
  color: $color-red;
}

