.list {
  padding: 10px;
}

.list__add-item {
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.add-item__input {
  border: 2px solid $color-tropical-indigo;
  border-radius: 5px;
  padding: 4px;
  font-size: 0.9rem;
}
.add-item__button {
  font-size: 30px;

  &:hover {
    cursor: pointer;
  }
}

.list__container {
  max-height: 300px;
  margin-top: 5px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
.list__item {
    width: 100%;

  div {
    display: flex;
    gap: 10px;
    font-size: 1.1rem;
    align-items: center;
    justify-content: flex-start;

    &:hover {
      cursor: pointer;
    }
  }

  svg {
    font-size: 22px;
  }
}
