.options {
  button.custom-link {
    display: block;
    margin-top: 10px;
    border: none;
    background-color: $color-celestial-blue;
    min-width: 100px;
    padding: 15px;
    border-radius: 12px;
  }
}

.options__wrapper {
  width: 100%;
  min-height: 1000px;
  border-radius: $border-radius;

  @media (min-width: 1050px) {
    min-height: 800px;
  }

  @media (min-width: 1465px) {
    width: 70%;
    min-height: 1000px;
  }
}

.options__content {
  margin: 0 auto;
  width: 95%;

  @media (min-width: 1050px) {
    width: 85%;
  }

  @media (min-width: 1465px) {
    width: 80%;
  }
}

.options__menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  @media (min-width: 1050px) {
  }

  @media (min-width: 1465px) {
  }
}

.options__menu_item {
  width: 100%;
  font-size: 1.5rem;
  line-height: 1em;
  padding: 1.5rem;
  text-align: center;
  color: $color-white;

  &:hover {
    cursor: pointer;
  }

  &:first-child {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  &:last-child {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  @media (min-width: 1050px) {
  }
  background-color: $color-tropical-indigo;

  &:hover {
    background-color: $color-light-grey;
    color: $color-tropical-indigo;
  }
}

.menu_item__content{
  width: 100%;
  margin-top: 50px;
  min-height: 500px;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;

  background-color: $color-light-grey;
}
