.options{
    button.custom-link{
        display: block;
        margin-top: 10px;
        border: none;
        background-color: $color-celestial-blue;
        min-width: 100px;
        padding: 15px;
        border-radius: 12px;
    }
}