.list {
  height: 350px;
  width: 30%;
  border-radius: $border-radius;
  background-color: $color-light-grey;
  overflow-y: hidden;
  padding: 15px;
  cursor: pointer;
}

.list__title {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.list__ul {
  font-size: 1.3rem;
}

// remove shit above
.simple-list {
  margin-top: 60px;
}

.simple-list__items{
    max-height: 300px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.simple-list__item{
    display: flex;
    gap: 10px;
    font-size: 1.1rem;
    align-items: center;
}
