.list {
  height: 350px;
  width: 30%;
  border-radius: $border-radius;
  background-color: $color-light-grey;
  overflow-y: hidden;
  padding: 15px;
  cursor: pointer;
}

.list__title {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.list__ul {
  font-size: 1.3rem;
}

// remove shit above
.simple-list {
  margin-top: 20px;
}

.simple-list__add-task {
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.add-task__input {
    border: 2px solid $color-tropical-indigo;
    border-radius: 5px;
    padding: 4px;
    font-size: 0.9rem;
}
.add-task__button {
  font-size: 30px;

  &:hover {
    cursor: pointer;
  }
}

.simple-list__items {
  max-height: 300px;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.simple-list__item {
    width: 100%;

  div {
    display: flex;
    gap: 10px;
    font-size: 1.1rem;
    align-items: center;
    justify-content: flex-start;

    &:hover {
      cursor: pointer;
    }
  }

  svg {
    font-size: 22px;
  }
}
