.logo {
  font-family: $font-logotype;
  font-size: 2rem;
  line-height: 1em;
  text-align: center;
  display: inline-block;
  a {
    padding: 0;
    margin: 0;
    height: auto;
    text-decoration: none;
    color: $color-white;
  }

  span {
    color: $color-jet;
  }
}

.logo--dark {
  a{
    color: $color-jet;
  }

  span {
    color: $color-celestial-blue;
  }
}
