.logo {
  font-family: $font-logotype;
  font-size: 2rem;
  line-height: 1em;
  text-align: center;
  display: inline-block;

  a {
    padding: 0;
    margin: 0;
    height: auto;
    text-decoration: none;
    color: var(--color-font-1);
  }

  span {
    color: var(--color-accent-1);
  }
}

footer{
  .logo{
    a{
      color: var(--color-font-2);

    }

    span{
      color: var(--color-accent-1);
    }
  }
}

.nightmode {
  .logo{
    a{
      color: $color-white;
    }

    span {
      color: $color-celestial-blue;
    }
  }
  
  footer {
    background-color: var(--color-alt-bg);
  }
}


