.page-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;

  padding-inline: 20px;
  padding-block: 25px 50px;

  @media (min-width: 670px) {
    padding-block: 10px 80px;
  }

  @media (min-width: 1050px) {
    padding-inline: 80px;
  }
}
