.tabs {
  margin: 0 auto;
  width: 100%;

  @media (min-width: 1050px) {
    width: 80%;
  }
}

.tabs__head {
  display: flex;
  flex-direction: column;
  gap: 5px;

  @media (min-width: 670px) {
    flex-direction: row;
    gap: 10px;
  }
}

.tabs__head_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  transition: 0.5s;

  color: var(--color-font-1);
  background-color: var(--color-alt-bg);

  &.tabs__head_item--active,
  &:hover {
    color: var(--color-font-2);
    background-color: var(--color-accent-1);
  }

  &:hover {
    cursor: pointer;
  }

  &:first-child {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  &:last-child {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  @media (max-width: 670px) {
    border-radius: $border-radius;
  }

  @media (min-width: 670px) {
    padding: 1.3rem;
  }
}

.tabs__content {
  width: 100%;
  margin-top: 20px;
}

//nightmode behaviour
.nightmode{
  .tabs__head_item{
    color: var(--color-font-2);
    background-color: var(--color-accent-1);
  
    &.tabs__head_item--active,
    &:hover {
      color: var(--color-font-1);
      background-color: var(--color-alt-bg);
    }
  }
}