.add-task {
  grid-column: 1/-1;

  .list {
    padding: 0;
  }
}

.add-task__header {
  font-size: 2rem;
  padding-inline: 10px;
  cursor: pointer;
  background-color: var(--color-font-2);

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  path {
    color: $color-black;
  }
}

.add-task__container {
  display: grid;
  gap: 65px 50px;
  background-color: var(--color-accent);
  padding: 15px;

  button {
    &:hover{
      background-color: $color-black;
    }
  }

  @media (min-width: 780px) {
    grid-template-columns: 1fr 1fr;
  }
}

.add-task__labels {
  display: flex;
  flex-direction: column;
  gap: 10px;

  align-items: flex-start;
}

.add-task__labels_label {
  input {
    width: 250px;
  }
}

.add-task__add-operation {
  display: grid;
  align-content: start;
  grid-template-rows: auto auto 1fr;

  grid-row: span 2;

  ul{
    overflow-y: auto;
    max-height: 130px;
  }
}
.add-task__button {
  margin-top: 10px;
  justify-self: start;
}
