.add-task {
  grid-column: 1/-1;

  .list {
    padding: 0;
  }
}

.add-task__header {
  font-size: 2rem;
  padding-inline: 10px;
  cursor: pointer;
  background-color: var(--color-font-2);

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  path{
    color: $color-black;
  }
}

.add-task__container {
  display: grid;
  gap: 25px 50px;
  background-color: var(--color-accent-1);
  background-color: rgb(248, 138, 64);
  padding: 15px;

  .list__item_pen-icon {
    color: var(--color-accent-2);
  }

  .add-item__button {
    &:hover {
      color: var(--color-font-2);
    }
  }

  @media (min-width: 780px) {
    grid-template-columns: 1fr 1fr;
  }
}

.add-task__labels {
  display: flex;
  flex-direction: column;
  gap: 10px;

  align-items: flex-start;
}

.add-task__labels_label {

  textarea,
  input {
    width: 100%;

    @media (min-width: 780px) {
      width: 300px;
    }
    @media (min-width: 1050px) {
      width: 450px;
    }
  }
}

.add-task__add-operation {
  display: grid;
  align-content: start;
  grid-template-rows: auto auto 1fr;
}
.add-task__add-operation_button {
  margin-top: 10px;
  align-self: end;
  justify-self: end;
}
