.task-tile{
    display: grid;
    grid-template-rows: auto auto 1fr;
    max-height: 400px;
}

.task-tile__delete{
    margin-left: auto;
    font-size: 0.8rem;
    padding-inline: 5px;
    cursor: pointer;
    color: $color-white;
    background-color: $color-red;
}

.task-tile__container{
    padding: 15px;
    background-color: var(--color-accent);

    .list__clear-button{
        &:hover{
            background-color: $color-black;
        }
    }
}
.task-tile__container_p{
    padding-block: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.task-tile, .task-tile__header{
    transition: .8s;
}

.task-tile__header{
    display: grid;
    gap: 5px;
    background-color: var(--color-bg);
    padding: 10px;
    border-bottom: 2px solid transparent;

    input {
        padding-block: 0;
    }
}
.task-tile__header_title{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 5px;
    min-height: 32px;

    .checkbox__div{
        background-color: var(--color-alt-bg);
    }
    .checkbox__div.checked{
        background-color: var(--color-accent);
    }

    h2{
        display: flex;
        justify-items: center;
    }
}
.task-tile__header_deadline{
    display: flex;
    gap: 10px;
    align-items: center;
    min-height: 32px;

    p:first-child{
        color: var(--color-accent);
        cursor: pointer;
    }
}

.task-tile__header_title,.task-tile__header_edit-icon{
    font-size: 22px;
}

.task-tile__header_edit-icon{
    justify-self: end;
    align-self: center;

    &:hover{
        cursor: pointer;
    }
}