.task-tile{
    border: 2px solid var(--color-font-2);
}

.task-tile__container{
    padding: 10px;
}

.task-tile, .task-tile__header{
    transition: .8s;
}

.task-tile__header{
    background-color: var(--color-bg);
    padding: 10px;
    border-bottom: 2px solid transparent;
}
.task-tile__header_title{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 5px;

    .checkbox__div{
        background-color: var(--color-alt-bg);
    }
    .checkbox__div.checked{
        background-color: var(--color-accent-1);
    }
}
.task-tile__header_deadline{
    display: flex;
    justify-content: space-between;

    p:first-child{
        color: var(--color-accent-1);
        cursor: pointer;
    }
}

.task-tile__header_title,.task-tile__header_edit-icon{
    font-size: 22px;
}

.task-tile__header_edit-icon{
    justify-self: end;
    align-self: center;

    &:hover{
        cursor: pointer;
    }
}