.navbar{
  position: fixed;
  z-index: 5;
  width: 100%;
  transition: 0.5s;
  font-family: $font-headers;
  padding-block: 1.5rem;
  padding-inline: 1rem;

  a {
    color: $color-jet;

    &::before {
      background-color: $color-jet;
    }
  }

  @media (min-width: 850px) {
    padding: 2rem;
  }
}

.nav__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav__list {
  list-style: none;
  display: none;
  align-items: center;
  justify-content: center;

  li {
    list-style: none;
    padding-inline: 15px;
  }

  @media (min-width: 850px) {
    display: flex;
  }
}

.nav--sticky {
  padding-block: 1rem;

  .logotype {
    color: $color-white;
  }

  .x-icon,
  .hamburger-icon {
    color: $color-white;
  }
}

.x-icon,
.hamburger-icon {
  color: $color-jet;
  font-size: 2rem;
  padding: 15px;

  &:hover {
    cursor: pointer;
  }

  @include display-mobile;
}

.nav__list--mobile {
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  background-color: $color-jet;
  position: fixed;
  top: 140px;
  margin: 0 auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 5;

  li {
    padding-inline: 20px;

    a {
      text-decoration: none;
      color: $color-white;
      font-family: $font-main;
    }
  }

  @include display-mobile;
}
