
//colors
$color-black: rgb(22,22,22);
$color-white: #FAF3F0; // Isabelline
$color-jet:  #434049; // Jet

//default theme
$color-light-grey: #E4DEDB; // Timberwolf
$color-tropical-indigo: #957FEF; // Tropical indigo

//nightmode theme
$color-ultraviolet: #4B4E6D; // Ultraviolet
$color-onyx: #353939; // Onyx

//celestial blue theme
$color-powder-blue: #B4C5E4; // Powder blue
$color-celestial-blue: #3596DC; // Celestial blue
$color-byzantine-blue: #3D52D5; // Byzantine blue

//midnight green theme
$color-cadet-gray: #95A3B3; // Cadet gray
$color-tiffany-blue:  #84DCC6; // Tiffany blue
$color-midnight-green: #0B4049; // Midnight green

//pinky color theme
$color-dogwood: #E7CFCD; // Dogwood
$color-pink: #FF6EC7; // Pink

//orange color theme
$color-orange: #F5830A; // Tangerine