body,
html,
#__next {
  height: 100%;
}

#__next {
  display: grid;
  position: relative;
}

svg{
  max-width: 40px;
}

body {
  background-color: var(--color-bg);
  font-family: $font-main;
  font-size: 16px;
  color: var(--color-font-1);

  @media (min-width: 850px) {
    padding-top: 150px;
  }
}
textarea,
input {
  border-radius: 5px;
  padding: 4px 6px;
  border: 2px solid transparent;

  color: var(--color-font-1);
  font-family: $font-main;
  font-size: 0.9rem;
  border: 2px solid transparent;

  color: var(--color-font-1);
  font-family: $font-main;
  

  &:focus {
    border: 2px solid $color-celestial-blue;
    outline: none;
  }

  &::placeholder {
    font-family: $font-logotype;
    color: $color-light-grey;
  }
}
textarea {
  resize: none;
}
a {
  color: var(--color-font-1);
  text-decoration: none;
}

.d-none {
  display: none;
}

@mixin display-mobile {
  display: block;

  @media (min-width: 850px) {
    display: none;
  }
}

.next-image {
  object-fit: cover;
  border-radius: calc($border-radius - 7px);
}

.text-highlight {
  display: inline;
  font-weight: 600;

  color: var(--color-accent);

  a {
    color: var(--color-accent);
  }
}

// custom elements
.big-input {
  font-size: 1.2rem;

  @media (min-width: 700px) {
    font-size: 1.2rem;
    padding: 8px;
  }
}

.custom-button {
  font-size: 1rem;
  color: $color-white;
  display: block;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 8px;
  transition: 0.6s;
  background-color: $color-black;

  &:hover {
    cursor: pointer;
    background-color: var(--color-accent);
  }

  path {
    transition: 0.6s;
  }
}
.custom-button--big {
  font-size: 1.3rem;
  padding: 10px;

  @media (min-width: 670px) {
    padding: 16px;
  }
}
