body {
  background-color: var(--color-bg);
  font-family: $font-main;
  font-size: 16px;
  color: var(--color-font-1);
}
textarea, input{
  border-radius: 5px;
  padding: 4px;
  font-size: 0.9rem;
  border: none;
}
textarea{
  resize: none;
}
a{
  color: var(--color-font-1);
  text-decoration: none;
}

.layout{
  padding-top: 120px;
}

.d-none{
  display: none;
}

@mixin display-mobile {
  display: block;

  @media (min-width: 850px) {
    display: none;
  }
}

.next-image {
  object-fit: cover;
  border-radius: calc($border-radius - 7px);
}

.text-highlight {
  display: inline;
  font-weight: 600;

  color: var(--color-accent-1);

  a {
    color: var(--color-accent-1);
  }
}

.custom-button {
  color: $color-white;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 8px;
  transition: .6s;
  background-color: var(--color-accent-2);

  &:hover {
    cursor: pointer;
    background-color: var(--color-accent-1);
  }

  path{
    transition: .6s;
  }
}
.custom-button--big{
  font-size: 1.3rem;
  padding: 10px;

  @media(min-width: 700px){
    padding: 16px;
  }
}
.custom-button--small {
  font-size: 1rem;
  padding: 8px;

  @media(min-width: 700px){
    padding: 12px;
  }
}

