.main, .section {
  padding-block: 50px;
  padding-inline: 10px;
  min-height: 70vh;

  @media(min-width: 550px){
    padding-inline: 30px;
  }

  @media(min-width: 1050px){
    padding-inline: 80px;
  }

  @media (min-width: 1465px) {
    padding-block: 50px 80px;
  }
}

.section--colored{
  background-color: var(--color-alt-bg);
}

.section__header {
  text-align: center;
  font-family: $font-headers;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.3em;
  padding-bottom: 25px;


  .logo a {
    font-size: 2rem;
    color: var(--color-font-1);
  }

  @media (min-width: 1050px) {
    font-size: $h-size;

    .logo a {
      font-size: $h-size;
    }
  }
}

.section__description {
  font-family: $font-main;
  font-size: 1.1rem;
  line-height: 1.5em;

  display: flex;
  flex-direction: column;
  gap: 40px;
}


.section__description_h2 {
  font-size: 1.3rem;
  font-weight: 800;
  color: $color-jet;
  text-align: left;
}

.section__description_p {
    padding-bottom: 15px;

    &:last-of-type{
        padding-bottom: 0;
    }
}

.section__description_h2, .section__description_p{
  color: var(--color-font-1);
}
