
body {
    --color-bg: #FAF3F0;
    --color-alt-bg: #E4DEDB;
    --color-accent-1: #957FEF;
    --color-accent-2: #1B1B1B;
    --color-font-1: #1B1B1B;
    --color-font-2: #FAF3F0;

  &.default {
    --color-bg: #FAF3F0;
    --color-alt-bg: #E4DEDB;
    --color-accent-1: #957FEF;
    --color-accent-2: #1B1B1B;
    --color-font-1: #1B1B1B;
    --color-font-2: #E4DEDB;
  }

  &.nightmode {
    --color-bg: #1B1B1B;
    --color-alt-bg: #333546;
    --color-accent-1: #95A3B3;
    --color-accent-2: #1B1B1B;
    --color-font-1: #FAF3F0;
    --color-font-2: #1B1B1B;
  }

  &.celestial-blue {
    --color-alt-bg: #B4C5E4;
    --color-accent-1: #3596DC;
    --color-accent-2: #3D52D5;
  }

  &.midnight-green {
    --color-alt-bg: #95A3B3;
    --color-accent-1: #0B4049;
  }

  &.tiffany-blue {
    --color-accent-1: #84DCC6;
  }

  &.pinky {
    --color-alt-bg: #E7CFCD;
    --color-accent-1: #FF6EC7;
  }

  &.orange {
    --color-accent-1: #F5830A;
  }
}
