.browse-lists__choice-tiles{
    margin-bottom: 50px;
}

.browse-lists__choice-tiles, .create-list__choice-tiles{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}