body.celestial-blue{
    .navbar{
        background-color: $color-white;

        a {
            color: $color-jet;
        
            &::before {
              background-color: $color-jet;
            }
        }
    }


    .nav--sticky{
        background-color: $color-celestial-blue;
        -webkit-box-shadow: 0px 2px 5px 0px $color-jet;
        -moz-box-shadow: 0px 2px 5px 0px $color-jet;
        box-shadow: 0px 2px 5px 0px $color-jet;

        a {
            color: $color-white;
        
            &::before {
              background-color: $color-white;
            }
        }
    }

    .form {
        background-color: $color-powder-blue;
    
        .form__button {
          background-color: $color-celestial-blue;
    
          &:hover {
            background-color: $color-byzantine-blue;
            
          }
        }
    
        .label__icon {
          path {
            color: $color-byzantine-blue;
          }
        }
    
        .checkbox__description {
          color: $color-onyx;
        }
    
        .form__checkbox {
          &:checked {
            background-color: $color-byzantine-blue;
          }
        }
      }

    .footer{
        background-color: $color-celestial-blue;
        color: $color-white;

        .footer__link{
            path{
                color: $color-onyx;
            }
        }
    }
}