body.default {
  .navbar {
    background-color: $color-white;

    a {
      color: $color-onyx;

      &::before {
        background-color: $color-onyx;
      }
    }
  }

  .nav--sticky {
    background-color: $color-tropical-indigo;
    -webkit-box-shadow: 0px 2px 5px 0px $color-onyx;
    -moz-box-shadow: 0px 2px 5px 0px $color-onyx;
    box-shadow: 0px 2px 5px 0px $color-onyx;

    a {
      color: $color-white;

      &::before {
        background-color: $color-white;
      }
    }
  }

  .form {
    background-color: $color-light-grey;

    .form__button {
      background-color: $color-onyx;

      &:hover {
        background-color: $color-tropical-indigo;
      }
    }

    .label__icon {
      path {
        color: $color-onyx;
      }
    }

    .checkbox__description {
      color: $color-onyx;
    }

    .form__checkbox {
      &:checked {
        background-color: $color-onyx;
      }
    }
  }

  .footer {
    background-color: $color-tropical-indigo;
    color: $color-white;
  }
}
