body.midnight-green {
  background-color: $color-midnight-green;

  .text-highlight{
    color: $color-midnight-green;

    a{
      color: $color-midnight-green;
    }
  }

  .navbar {
    background-color: $color-midnight-green;

    a {
      color: $color-white;

      span {
        color: $color-celestial-blue;
      }

      &::before {
        background-color: $color-white;
      }
    }
  }

  .nav--sticky {
    background-color: $color-white;
    -webkit-box-shadow: 0px 2px 5px 0px $color-onyx;
    -moz-box-shadow: 0px 2px 5px 0px $color-onyx;
    box-shadow: 0px 2px 5px 0px $color-onyx;

    a {
      color: $color-onyx;

      &::before {
        background-color: $color-onyx;
      }
    }
  }

  .app-info__content {
    background-color: $color-cadet-gray;

    .app-info__header{
      .logo{
        a {
          color: $color-white;
        }
      }
    }
  }

  .form {
    background-color: $color-cadet-gray;

    .form__button {
      background-color: $color-onyx;

      &:hover {
        background-color: $color-midnight-green;
      }
    }

    .label__icon {
      path {
        color: $color-onyx;
      }
    }

    .checkbox__description {
      color: $color-onyx;
    }

    .form__checkbox {
      &:checked {
        background-color: $color-onyx;
      }
    }

    .form__button--method {
      color: $color-onyx;
      background-color: $color-white;
      border: 3px solid $color-cadet-gray;

      path {
        color: $color-onyx;
      }
    
      &:hover {
        border-color: $color-white;
      }
    
      &.chosen-login-method,
      &:hover {
        color: $color-white;
        background-color: $color-midnight-green;
    
        path {
          color: $color-white;
        }
      }
    }
  }

  .footer {
    background-color: $color-white;
    color: $color-black;

    .copyright__header {
      color: $color-onyx;
    }

    a {
      color: $color-onyx;

      .footer__link {
        color: $color-onyx;

        path {
          color: $color-celestial-blue;
        }

        &:hover {
          color: $color-celestial-blue;
        }
      }

      span {
        color: $color-celestial-blue;
      }
    }
  }
}
