body.nightmode {
  background-color: $color-onyx;

  .hamburger-icon, .x-icon{
    path{
      color: $color-white;
    }
  }

  .text-highlight{
    color: $color-white;

    a{
      color: $color-white;
    }
  }

  .navbar {
    background-color: $color-onyx;

    a {
      color: $color-white;

      span {
        color: $color-celestial-blue;
      }

      &::before {
        background-color: $color-white;
      }
    }
  }

  .nav--sticky {
    background-color: $color-jet;
    -webkit-box-shadow: 0px 2px 5px 0px $color-jet;
    -moz-box-shadow: 0px 2px 5px 0px $color-jet;
    box-shadow: 0px 2px 5px 0px $color-jet;

    a {
      color: $color-white;

      &::before {
        background-color: $color-white;
      }
    }
  }

  .section__header{
    color: $color-white;
    .logo a {
      color: $color-white;
    }
  }
  .section__description_h2, .section__description_p{
    color: $color-cadet-gray;
  }
  .section--colored{
    background-color: $color-onyx;

  }
  .app-info__content {
    background-color: $color-ultraviolet;
  }


  .options__menu_item{
    color: $color-onyx;
    background-color: $color-white;

    &:hover {
      background-color: $color-cadet-gray;
      color: $color-white;
    }
  }
  .menu_item__content{
    p, h2 {
      color: $color-cadet-gray;
    }

    background-color: $color-ultraviolet;
  }


  .form {
    background-color: $color-ultraviolet;

    .form__button {
      background-color: $color-cadet-gray;

      &:hover {
        background-color: $color-onyx;
      }
    }

    .label__icon {
      path {
        color: $color-cadet-gray;
      }
    }

    .checkbox__description {
      color: $color-cadet-gray;
    }

    .form__checkbox {
      &:checked {
        background-color: $color-cadet-gray;
      }
    }

    .form__login-methods__title {
      color: $color-white
    }

    .form__button--method {
      color: $color-onyx;
      background-color: $color-white;
      border: 3px solid $color-ultraviolet;

      path {
        color: $color-onyx;
      }
    
      &:hover {
        border-color: $color-white;
      }
    
      &.chosen-login-method,
      &:hover {
        color: $color-white;
        background-color: $color-cadet-gray;
    
        path {
          color: $color-white;
        }
      }
    }
  }

  .footer {
    background-color: $color-jet;
    color: $color-white;

    a {
      span {
        color: $color-celestial-blue;
      }

      .footer__link {
        path {
          color: $color-celestial-blue;
        }

        &:hover {
          color: $color-celestial-blue;
        }
      }
    }
  }
}
