body.pinky {
  .text-highlight{
    color: $color-pink;
    
    a{
      color: $color-pink;
    }
  }

  .navbar {
    background-color: $color-white;

    a {
      color: $color-jet;

      &::before {
        background-color: $color-jet;
      }
    }
  }

  .nav--sticky {
    background-color: $color-pink;
    -webkit-box-shadow: 0px 2px 5px 0px $color-jet;
    -moz-box-shadow: 0px 2px 5px 0px $color-jet;
    box-shadow: 0px 2px 5px 0px $color-jet;

    a {
      color: $color-white;

      &::before {
        background-color: $color-white;
      }
    }
  }

  .section__header{
    .logo a {
      color: $color-jet;
    }
  }
  .section__description_h2, .section__description_p{
    color: $color-onyx;
  }
  .section--colored{
    background-color: $color-light-grey;
  }
  .app-info__content {
    background-color: $color-light-grey;
  }


  .options__menu_item{
    color: $color-white;
    background-color: $color-pink;

    &:hover {
      background-color: $color-light-grey;
      color: $color-pink;
    }
  }
  .menu_item__content{
    background-color: $color-light-grey;
  }


  .form {
    background-color: $color-light-grey;

    .form__button {
      background-color: $color-onyx;

      &:hover {
        background-color: $color-pink;
      }
    }

    .label__icon {
      path {
        color: $color-onyx;
      }
    }

    .checkbox__description {
      color: $color-onyx;
    }

    .form__checkbox {
      &:checked {
        background-color: $color-onyx;
      }
    }

    .form__button--method {
      color: $color-onyx;
      background-color: $color-white;
      border: 3px solid $color-light-grey;

      path {
        color: $color-onyx;
      }
    
      &:hover {
        border-color: $color-white;
      }
    
      &.chosen-login-method,
      &:hover {
        color: $color-white;
        background-color: $color-pink;
    
        path {
          color: $color-white;
        }
      }
    }
  }

  .footer {
    background-color: $color-pink;
    color: $color-white;
  }
}
