.options__themes-panel {
  display: flex;
  justify-content: space-between;
}

.themes-panel__radios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 10px;
}

.menu-content__radio {
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  gap: 10px;
}

.menu-content__p {
  font-size: 1.1rem;
  line-height: 1em;
}

.menu-content__color-block {
  width: 22px;
  height: 22px;
  border-radius: 5px;
}

.color-block--default {
  background-color: $color-tropical-indigo;
}
.color-block--nightmode {
  background-color: $color-onyx;
}
.color-block--midnight-green {
  background-color: $color-midnight-green;
}
.color-block--celestial-blue {
  background-color: $color-celestial-blue;
}
.color-block--tiffany-blue {
  background-color: $color-tiffany-blue;
}
.color-block--orange {
  background-color: $color-orange;
}
.color-block--pinky {
  background-color: $color-pink;
}

.options__themes-panel_buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: center;
}
