.options__themes-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 20px;
}

.themes-panel__radios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 10px;
}


.options__themes-panel_buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: left;
  align-self: center;
}
